spacy==3.7.5
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_md-0.5.4.tar.gz#sha256=7c8fc52542dd1452ffce00b045c1298e2c185b7cf84793f8e0ec941987c09808
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz#sha256=ffc73130a710edf851206199720cb2c744a043e032f5da6ba4bb36863deca778
huggingface-hub
langchain
langchain-core
langchain-text-splitters
langsmith
matplotlib-inline
numpy==1.26.4
pandas==2.2.3
requests
torch==2.5.1
tqdm
transformers==4.52.1
uvicorn
uvloop==0.21.0
vllm==0.7.2
